@page "/createuser"

<h2>Create User</h2>

<div class="col-md-4">
    <div class="form-group">
        <label class="form-label">FirstName</label><br/>
        <input value="" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="form-label">LastName</label><br/>
        <input value="" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="form-label">Email</label><br/>
        <input value="" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="form-label">Password</label><br/>
        <input class="form-control" type="password"/>
    </div>
    <div class="form-group">
        <label class="form-label">Confirm Password</label><br/>
        <input class="form-control" type="password"/>
    </div>
    <div>
        <button class="btn btn-primary mt-1">Create</button>
    </div>
</div>

@code {

}