@page "/register"

<h2>Registration</h2>
<div class="tab-content py-4">
    <div class="tab-pane active" id="doctor">
        <div class="col-md-4">
            <form method="post" asp-controller="Account" asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="form-label">FirstName</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <label class="form-label" >LastName</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Email">Email</label>
                    <input class="form-control" />
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Password">Password</label>
                    <input class="form-control" type="password"/>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                    <input class="form-control" type="password"/>
                </div>
                <button type="submit" class="btn btn-primary mt-1">Register</button>
            </form>
        </div>
    </div>
</div>

@code {
    
}